@import "../../Assets/variables.scss";

.sidebar-component {
  width: 80px;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .sidebar-slider {
    position: absolute;
    width: 0px;
    height: 100%;
    background: lightcoral;
    top: 0;
    left: 80px;
    display: none;
    visibility: hidden;
  }

  //   .sidebar-component
  //   > .journeys-area
  //   > .link:hover
  //   ~ .sidebar-component
  //   > .sidebar-slider {
  //   width: 250px;
  //   display: block;
  //   visibility: visible;
  // }

  .journeys-area {
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
      border-radius: 10px;
      font-size: 1.2rem;
      margin-bottom: 10px;
      cursor: pointer;
      color: black;
    }

    .link:hover ~ .sidebar-component > .sidebar-slider {
      width: 250px;
      display: block;
      visibility: visible;
    }

    .active {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      background-color: lightgreen;
      color: black;
    }
  }
}
