@import "../../Assets/variables";

.search-input-container {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: $base-white-color;
  border-radius: 5px;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    padding-inline-start: 15px;
  }

  button {
    position: absolute;
    right: 10px;
    height: 80%;
    font-weight: bold;
  }
}

.search-input-container:hover {
  box-shadow: $box-shadow;
}
